@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

.home-container {
    background-color: white;
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.vinyl-home-container {
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

.left-container {
    width: 20%;
    height: inherit;
    border-top-left-radius: 25px;
    background-color: #521219;
}

.left-bar {
    width: 10%;
    height: inherit;
    background: linear-gradient(to right, white, #521219);
    background-color: red;
}

.right-container {
    width: 60%;
    height: inherit;
    background-color: #e8e8e8;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.vinyl-right-container {
    width: 60%;
    height: inherit;
    background-color: #e8e8e8;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.right-bar {
    width: 10%;
    height: inherit;
    background: linear-gradient(to right, #e8e8e8, white)
}

.item-1 {
    width: 30%;
    height: 250px;
    background-color: white;
    margin-top: 1%;
    margin-left: 1%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: all 0.35s;
    cursor: pointer;
}

.item-1:hover {
    transform: scale(1.05)
}

.item-off {
    width: 30%;
    height: 30%;
    background-color: white;
    pointer-events: none;
    margin-top: 1%;
    margin-left: 1%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: all 0.35s;
    /* animation: drop-out 0.5s forwards ease-in-out; */
}

.editor-container {
    width: 100%;
    height: 500px;
    background-color: pink;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
}

.title-container-on {
    width: 100%;
    height: 20%;
    background-color: white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s;
    filter: opacity(90%);
    color: black;
    font-size: 20px;
}

.title-container-off {
    display: flex;
    pointer-events: none;
    width: 100%;
    height: 0%;
    background-color: #521219;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 0;
    transition: all 0.35s;
    filter: opacity(0%);
    color: white;
}

.price-container-on {
    width: 100%;
    height: 20%;
    background-color: #521219;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.35s;
    filter: opacity(90%);
    color: white;
}
.price-container-off {
    filter: opacity(0%);
    display: flex;
    pointer-events: none;
    width: 100%;
    height: 0%;
    font-size: 0;
    background-color: black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    justify-content: space-around;
    align-items: center;
    transition: all 0.35s;
    color: white;
}

.check-out-box {
    width: 35%;
    height: 50%;
    background-color: red;
    border-radius: 15px;
    transition: all 0.35s;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: bold;
    cursor: pointer;
}

.check-out-box:hover {
    transition: all 0.35s;
    background-color: white;
    color: black;
}

.go-back-button-off {
    position: absolute;
    width: 8%;
    height: 6%;
    top: 118%;
    left: 30%;
    background-color: transparent;
    z-index: 1;
    display: none;
    filter: opacity(0%);
    pointer-events: none;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid grey;
    color: grey;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;
    transition: all 0.25s;
}

.go-back-button-on {
    position: absolute;
    width: 8%;
    height: 6%;
    top: 118%;
    left: 30%;
    background-color: black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid grey;
    color: white;
    font-size: 26px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;
    transition: all 0.25s;
    filter: opacity(0%);
    animation: back-fade-in 1s forwards;
}

.go-back-button-2-on {
    position: absolute;
    width: 8%;
    height: 6%;
    top: 0%;
    left: 0%;
    background-color: black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid grey;
    color: white;
    font-size: 26px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    cursor: pointer;
    transition: all 0.25s;
    filter: opacity(0%);
    animation: back-fade-in 1s forwards;
}

.go-back-button-on:hover {
    background-color: grey;
    transition: all 0.25s;
    color: white;
}

.go-back-button-2-on:hover {
    background-color: grey;
    transition: all 0.25s;
    color: white;
}

.chosen-item-off {
    position: absolute;
    width: 36.5%;
    height: 60%;
    margin: auto;
    filter: opacity(0%);
    display: none;
    border-radius: 25px;
    pointer-events: none;
}

.chosen-item-on {
    position: absolute;
    width: 36.5%;
    height: 60%;
    margin: auto;
    filter: opacity(0%);
    animation: slide-up 0.5s forwards ease-in-out;
    top: 63%;
    margin-left: 1%;
    border-radius: 25px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chosen-description-off {
    width: 19%;
    height: 60%;
    position: absolute;
    border-radius: 25px;
    left: 69.25%;
    top: 13%;
    filter: opacity(0%);
    display: none;
    pointer-events: none;
}

.chosen-description-on {
    width: 19%;
    height: 60%;
    position: absolute;
    background-color: white;
    border-radius: 25px;
    left: 69.25%;
    top: 63%;
    filter: opacity(0%);
    animation: slide-up 0.5s forwards ease-in-out;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-indent: 25px;
    -webkit-box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
}

.chosen-description-on > p {
    margin-left: 5px;
    color: grey;
    margin-right: 5px;
}

.chosen-header {
    width: 100%;
    height: 10%;
    background-color: #521219;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    text-align: center;
}

.chosen-buy-box-off {
    position: absolute;
    width: 36.5%;
    height: 20%;
    margin: auto;
    filter: opacity(0%);
    animation: slide-up 0.5s 0.25s forwards ease-in-out;
    top: 69%;
    margin-left: 1%;
    border-radius: 25px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    filter: opacity(0%);
    pointer-events: none;
}

.chosen-buy-box-on {
    position: absolute;
    width: 36.5%;
    height: 20%;
    margin: auto;
    filter: opacity(0%);
    animation: slide-up 0.5s forwards ease-in-out;
    top: 113%;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.chosen-price-container {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: italic;
    font-size: 26px;
}

.chosen-buy-button {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 25px;
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px -13px rgba(0,0,0,0.75);
}

.chosen-buy-button:hover {
    transition: all 0.5s;
    background-color: white;
    border: 1px solid #521219;
    color: #521219;
}

.shirts-tab {
    width: 100%;
    height: 50px;
    background-color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #521219;
}

.shirts-tab-off {
    width: 100%;
    height: 50px;
    background-color: #521219;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}

.shirts-tab-off:hover {
    background-color: white;
    color: #521219;
    border-bottom-left-radius: 25px;
    transition: all 0.25s;
}

.vinyl-tab {
    width: 100%;
    height: 50px;
    background-color: #521219;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    transition: all 0.25s;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.vinyl-tab-on {
    width: 100%;
    height: 50px;
    background-color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #521219;
    transition: all 0.25s;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.vinyl-tab:hover {
    background-color: white;
    color: #521219;
    transition: all 0.25s;
}

.shopping-cart-off {
    display: none;
    pointer-events: none;
}

.shopping-cart-on {
    width: 40%;
    height: 50%;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
    cursor: pointer;
    animation: back-fade-in 0.5s forwards;
}

.shopping-cart-on:hover {
    transform: scale(1.1);
    transition: all 0.25s;
}

.shopping-cart-on > img {
    width: 50%;
    height: 50%;
}

.delete-button {
    position: relative;
    width: 10%;
    height: 70%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 5%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/3823-200.png');
}

.edit-button {
    position: relative;
    width: 10%;
    height: 70%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 5%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/18800-200.png');
}

.new-item-box {
    width: 30%;
    height: 100%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.edit-box {
    width: 30%;
    height: 100%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.desc-input {
    width: 300px;
    height: 300px;
}

.shareOnFacebook {
    width: 3%;
    height: 5%;
    position: fixed;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    left: 0%;
    font-size: 20px;
    background-color: #3B5998;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 28px;
}

.shareOnTwitter {
    width: 3%;
    height: 5%;
    position: fixed;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    left: 0%;
    font-size: 20px;
    background-color: #3FCDFD;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 28px;
    cursor: pointer;
}

.fb-icon {
    width: 2.5%;
    height: 4%;
    background-image: url('http://www.freeiconspng.com/uploads/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png');
    background-size: contain;
    background-position: center;
    position: fixed;
    background-repeat: no-repeat;
    top: 20.5%;
    left: 0.05%;
    background-color: transparent;
    pointer-events: none;
}

.tw-icon {
    width: 2.5%;
    height: 4%;
    background-image: url('http://www.newdesignfile.com/postpic/2012/08/black-and-white-twitter-logo-icon_175533.png');
    background-size: contain;
    background-position: center;
    position: fixed;
    background-repeat: no-repeat;
    top: 25.5%;
    left: 0%;
    background-color: transparent;
    pointer-events: none;
}

@keyframes drop-out {
    0% {
    filter: opacity(100%);
    transform: translateY(0%);
    display: flex;
    }
    100% {
    filter: opacity(0%);
    transform: translateY(50%);
    display: none;
    }
}

@keyframes slide-up {
    0% {
    filter: opacity(0%);
    transform: translateY(0%);
    display: none;
    }
    100% {
    filter: opacity(100%);
    transform: translateY(-20%);
    display: flex;
    }
}

@keyframes back-fade-in {
    0% {filter: opacity(0%)}
    100% {filter: opacity(80%)}
}

@media screen and (max-width: 320px) {
    .item-1 {width: 100%;}
    .shirts-tab {font-size: 8px;}
    .vinyl-tab {font-size: 8px; text-align: center;}
    .shirts-tab-off {font-size: 8px;}
    .vinyl-tab-on {font-size: 8px; text-align: center;}
    .item-off {width: 100%;}
    .price-container-on {display: none;}
    .title-container-on {display: none;}
    .chosen-item-on {width: 65%; height: 30%; top: 31%;}
    .chosen-description-on {width: 65%; top: 69%; left: 31%}
    .chosen-header {font-size: 20px;}
    .chosen-buy-button {width: 150%; height: 25%; position: absolute; top: 70%; left: 10%;}
    .go-back-button-on {width: 40%; height: 5%; position: absolute; top: 129%; left: 41%;}
    .go-back-button-2-on {font-size: 16px; width: 25%; height: 5%;}
    .chosen-price-container {left: 60%; top: 43%; position: absolute;};
}

@media screen and (max-width: 375px) {
    .item-1 {width: 100%;}
    .shirts-tab {font-size: 8px;}
    .vinyl-tab {font-size: 8px; text-align: center;}
    .shirts-tab-off {font-size: 8px;}
    .vinyl-tab-on {font-size: 8px; text-align: center;}
    .item-off {width: 100%;}
    .price-container-on {display: none;}
    .title-container-on {display: none;}
    .chosen-item-on {width: 65%; height: 30%; top: 31%;}
    .chosen-description-on {width: 65%; top: 69%; left: 31%}
    .chosen-header {font-size: 20px;}
    .chosen-buy-button {width: 150%; height: 25%; position: absolute; top: 70%; left: 10%;}
    .go-back-button-on {width: 40%; height: 5%; position: absolute; top: 129%; left: 41%;}
    .go-back-button-2-on {font-size: 16px; width: 20%; height: 5%;}
    .chosen-price-container {left: 60%; top: 43%; position: absolute;};
}

@media screen and (max-width: 425px) {
    .item-1 {width: 100%;}
    .shirts-tab {font-size: 10px;}
    .vinyl-tab {font-size: 10px; text-align: center;}
    .shirts-tab-off {font-size: 10px;}
    .vinyl-tab-on {font-size: 10px; text-align: center;}
    .item-off {width: 100%;}
    .price-container-on {display: none;}
    .title-container-on {display: none;}
    .chosen-item-on {width: 65%; height: 30%; top: 31%;}
    .chosen-description-on {width: 65%; top: 69%; left: 31%}
    .chosen-header {font-size: 25px;}
    .chosen-buy-button {width: 150%; height: 25%; position: absolute; top: 70%; left: 10%;}
    .go-back-button-on {width: 40%; height: 5%; position: absolute; top: 129%; left: 41%;}
    .go-back-button-2-on {font-size: 16px; width: 20%; height: 5%;}
    .chosen-price-container {left: 60%; top: 43%; position: absolute;};
}

@media screen and (min-width: 768px) {
    .chosen-description-on {width: 30%;}
    .go-back-button-on {font-size: 20px; text-align: center;}
    .go-back-button-2-on {font-size: 14px;}
    .chosen-header {font-size: 25px;};
}

@media screen and (min-width: 1024px) {
    .chosen-description-on {width: 25%;}
    .go-back-button-2-on {font-size: 20px;}
    .go-back-button-on {font-size: 20px; text-align: center;}
}

@media screen and (min-width: 2560px) {
    .shirts-tab {font-size: 20px;}
    .vinyl-tab {font-size: 20px; text-align: center;}
    .shirts-tab-off {font-size: 20px;}
    .vinyl-tab-on {font-size: 20px; text-align: center;}
    .chosen-buy-button {font-size: 50px;}
    .go-back-button-on {font-size: 40px;}
    .go-back-button-2-on {font-size: 30px;}
    .chosen-header {font-size: 40px;}
    .chosen-description-on {font-size: 20px;};
}