@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

.header-container {
    width: 100%;
    height: 50vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.header-bar {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-bottom: 1px solid black;
}

.header-pic-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../Images/marilyn-manson.jpg');
    background-position-x: 10%;
}

.left-header-tab {
    width: 10%;
    height: 100%;
    background: linear-gradient(to right, white, #521219);
}

.website-title {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #521219;
}

.website-title-font {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

.header-left-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-bar {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #521219;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.facebook-icon {
    width: 20%;
    height: 75%;
    background-image: url('../../Images/facebook-circle.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.facebook-icon:hover {
    transform: scale(1.05);
}

.twitter-icon {
    width: 20%;
    height: 75%;
    background-image: url('../../Images/twitter-circle.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.twitter-icon:hover {
    transform: scale(1.05);
}

.tumblr-icon {
    width: 20%;
    height: 75%;
    background-image: url('../../Images/tumblr-icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tumblr-icon:hover {
    transform: scale(1.05);
}

.instagram-icon {
    width: 20%;
    height: 75%;
    background-image: url('../../Images/instagram-icon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.instagram-icon:hover {
    transform: scale(1.05);
}

.featured-items-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.featured-items-title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-items-tab {
    width: 20%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.featured-items-box {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured-item-1 {
    width: 25%;
    height: 100%;
}

.featured-item-1-pic {
    width: 100%;
    height: 80%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px dashed black;
    border-bottom: 1px solid white;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    -webkit-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    opacity: 0;
    animation: featured-fade-in 0.5s 0.25s forwards;
}

.featured-item-1-text {
    width: 100%;
    height: 15%;
    background-color: #521219;
    color: white;
    border: 1px solid #521219;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    text-align: center;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    animation: featured-fade-in 0.5s 0.25s forwards;
    opacity: 0;
}

.featured-item-1-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.featured-item-2 {
    width: 25%;
    height: 100%;
}

.featured-item-2-pic {
    width: 100%;
    height: 75%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px dashed black;
    border-top: 1px solid white;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    opacity: 0;
    animation: featured-fade-in 0.5s 0.5s forwards;
}

.featured-item-2-text {
    width: 100%;
    height: 15%;
    background-color: #521219;
    color: white;
    border: 1px solid #521219;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    text-align: center;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-top: 5%;
    animation: featured-fade-in 0.5s 0.5s forwards;
    opacity: 0;
}

.featured-item-2-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.featured-item-3 {
    width: 25%;
    height: 100%;
}

.featured-item-3-pic {
    width: 100%;
    height: 80%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px dashed black;
    border-bottom: 1px solid white;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    -webkit-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -14px rgba(0,0,0,0.75);
    opacity: 0;
    animation: featured-fade-in 0.5s 0.75s forwards;
}

.featured-item-3-text {
    width: 100%;
    height: 15%;
    background-color: #521219;
    color: white;
    border: 1px solid #521219;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    text-align: center;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    animation: featured-fade-in 0.5s 0.75s forwards;
    opacity: 0;
}

.featured-item-3-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes featured-fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}

@media screen and (max-width: 320px) {
    .title-font {font-size: 35px; bottom: 60%;}
    .itunes {width: 25%;}
    .amazon {width: 25%;}
    .spotify {width: 25%;}
    .home-container {flex-flow: column;}
    .header-font {font-size: 20px;};
  }

@media screen and (min-width: 320px) {
  .title-font {font-size: 40px; bottom: 60%;}
  .itunes {width: 25%;}
  .amazon {width: 25%;}
  .spotify {width: 25%;}
  .home-container {flex-flow: column;}
  .header-font {font-size: 20px;};
}

@media screen and (min-width: 425px) {
  .title-font {font-size: 50px; bottom: 60%;};
}

@media screen and (min-width: 768px) {
  .title-font {font-size: 75px}
  .header-font {font-size: 30px;};
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1440px) {
  .title-font {font-size: 125px};
}
